<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Cadastro de Vendas</title>

    <style>
      #input {
        margin-top: 50px;
      }

      h1 {
        text-align: center;
      }

      #botao {
        text-align: center;
      }
    </style>
</head>
<body>

  <div id="camera"></div>

  <script src="../js/quagga.min.js"></script>
  <script src="../js/barcode.js"></script>

  <h1>Cadastro de Vendas</h1>
  <div class="input-group mb-3" id="input">
    <span class="input-group-text" id="inputGroup-sizing-default">Data</span>
    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3" id="input">
    <span class="input-group-text" id="inputGroup-sizing-default">Código de Barras</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="input-group mb-3" id="input">
    <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Venda</option>
  </select>

  <select class="custom-select" id="inputGroupSelect03">
    <option selected>Forma de Pagamento</option>
    <option value="1">DÉBITO</option>
    <option value="2">CRÉDITO</option>
    <option value="3">DINHEIRO</option>
    <option value="4">PIX</option>
  </select>

  <select class="custom-select" id="inputGroupSelect03">
    <option selected>Parcelas</option>
    <option value="1">À VISTA</option>
    <option value="2">2x</option>
    <option value="3">3x</option>
  </select>

  <div class="input-group mb-3" id="input">
    <span class="input-group-text" id="inputGroup-sizing-default">Preço</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Código de Barras</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
    <tr>
      <th>TOTAL</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>25.00</td>
      </tr>
    </tbody>
  </table>
  <div id="botao">
    <button type="button" class="btn btn-success">Finalizar Compra</button>
  </div>
</body>
</html>